*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
   
}
.login_page{
    width: 100%;
  
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image{
    background-image: url(/assests/photos/Group\ 1270@2x.png);
    background-repeat: no-repeat;
   background-size: 100%;
   padding: 0;
}
.banner-wrapper{
    margin-top: auto;
    text-align: center;
    padding:265px 0px;
   
}
.banner-header>h1{
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: manrope;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;

}
.banner-paragraph>p{
    font-size: 17px;
    color: white;
    font-family: manrope;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    width:35%;
}

.form-banner{
    background-image: url(/assests/photos/Group\ 116@2x.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: top right;
    padding: 0;
}
.form-header {
    display: flex;
    margin: 40px 0px;
    justify-content: center;
   
}
.form-header>h1{
font-size: 32px;
font-family: 'manrope';
font-weight: bold;
text-align: center;
}
.form-header-image>img{
    width: 59%;
    margin-left: 8px;
    margin-right: auto;
    display: flex;
    margin-top: 5px;
    
}
.social-icon {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: 0px 64px;
}
.image1 {
    width: 35px;
    height: 35px;
    border: 2px solid #beb7b7;
    border-radius: 50%;
}
.image1>a>img{
    width: 21px;
    margin-left: 5px;
    margin-top: 5px;
}
.image2 {
    width: 35px;
    height: 35px;
    border: 2px solid #beb7b7;
    border-radius: 50%;
}
.image2>a>img{
    width: 11px;
    margin-left: 9px;
    margin-top: 5px;
}
.image3 {
    width: 35px;
    height: 35px;
    border: 2px solid #beb7b7;
    border-radius: 50%;
}
.image3>a>img {
    width: 16px;
    margin-left: 8px;
    margin-top: 2px;
}
.social-para>p{
    text-align: center;
    font-size: 12px;
    margin-top: 37px;
    font-family: 'Manrope';
    font-weight: 600;
}
form>input{
    width: 68%;
    height: 52px;
    margin: 0px auto;
    display: block;
    border: none;
    background-color: #cfc6c69c;
    padding-left: 8px;
}
form>input:focus{
    outline: none;
}
.checkbox{
    margin: 15px 113px;
}
.checkbox>label{
    margin-left: 4px;
    font-size: 18px;
    font-family: 'Manrope';
    font-weight: 600;
}
.checkbox>a{
    margin-left: 202px;
    text-decoration: none;
    color: #00A05A;
}
.sign-in-button>button{
    width: 68%;
    margin: 40px auto;
    display: block;
    height: 50px;
    border: none;
    background-color: #00A05A;
    color: white;
}
.form-text{
    margin: 190px 218px 30px;
}